*{
    box-sizing: border-box;
}
.parent{
    width: 1500px;
    height: 1000px;
    background: linear-gradient(180deg, rgba(184,10,222,1) 0%, rgba(170,12,227,0.9836309523809523) 48%, rgba(128,0,255,1) 100%);
}
.img1{
    transform: translateY(-44px);
}
.img2{
    transform: translateY(347px);
}
